img {
	width: 45%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
}

article {
	width: 45%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
}

.preview {
	width: 400px;
	height: 300px;
}

div.description {
	display: none;
}

img.preview:hover + div.description {
	display: block;
}